.svg {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 'svg';
}
.foreground {
  grid-area: svg;
  z-index: 2;
  align-self: end;
  height: min(15vh, 216px);
}
.background {
  grid-area: svg;
  z-index: 1;
  align-self: end;
  height: min(30vh, 432px);
}
